AugenProject.Data/bin/
AugenProject.Services/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
AugenProject.Services/bin/roslyn/vbc.exe
AugenProject.Data/obj/Debug/AugenProject.Data.dll
AugenProject.Data/obj/Debug/AugenProject.Data.csproj.CopyComplete
AugenProject.Data/obj/Debug/AugenProject.Data.csproj.CoreCompileInputs.cache
AugenProject.Services/obj/
AugenProject.Web.Api/bin/
AugenProject.Web.Common/bin/
AugenProject.Data/obj/
AugenProject.Services.Models/bin/
AugenProject.Services/bin/
AugenProject.Web.Common/obj/
packages/Antlr.3.5.0.2/lib/Antlr3.Runtime.dll
packages/
AugenProject.Web.Api.IntegrationTests/bin/
AugenProject/obj/
